@using Obligatorio_Dominio
@model Miembro
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Enviar Invitación</h1>


@if (ViewBag.MiembrosDisponibles != null)
{
    foreach (var miembro in ViewBag.MiembrosDisponibles)
    {
        <tr>
            <td>@miembro.Nombre</td>
            <td>@miembro.Mail</td>
            <td>
                <form action="/Miembro/EnviarInvitacion" method="post">
                    <input type="hidden" name="mail" value="@miembro.Mail" />
                    <input type="submit" value="Enviar Solicitud" class="btn btn-primary" />
                </form>
            </td>
        </tr>
    }
}
else
{
    <p>No hay miembros disponibles.</p>
}