@using Obligatorio_Dominio
@model Miembro

@{
    ViewBag.Title = "Usuario Bloqueado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-danger">Usuario Bloqueado</h2>
                    <p class="card-text">
                        Tu usuario esta bloqueado. Por favor, comunícate con el administrador del sistema para obtener más información.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
