@using Obligatorio_Dominio
@model Miembro
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@ViewBag.error

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">¡Bienvenido a Nuestra Aplicación!</h1>
        <p class="lead">Gracias por visitar nuestro obligatorio.</p>
    </div>
</div>
