@using Obligatorio_Dominio
@model Post
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Banear Post </h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">Contenido</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Post post in ViewBag.Posts)
        {
            <tr>
                <td>@post.Titulo</td>
                <td>@post.Autor.Nombre</td>
                <td>@post.Contenido</td>
                <td>
                    @if (!post.Censurado)
                    {
                        <form method="post" asp-controller="Administrador" asp-action="BanearPost">
                            <input type="hidden" name="postId" value="@post.Id" />
                            <button type="submit" class="btn btn-danger">Banear</button>
                        </form>
                    }
                    else
                    {
                        <span style="color: red;">Post Censurado</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<a asp-action="Index">Volver a la página principal</a>