@using Obligatorio_Dominio

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Bloquear Usuario </h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Miembro unMiembro in ViewBag.Miembros)
        {
            <tr>
                <th scope="row">@unMiembro.Nombre</th>
                <td>@unMiembro.Apellido</td>
                <td>
                    @if (!unMiembro.Bloqueado)
                    {
                        <form method="post" asp-controller="Administrador" asp-action="BloquearUsuario">
                            <input type="hidden" name="nombre" value="@unMiembro.Nombre" />
                            <button type="submit" class="btn btn-danger">Bloquear</button>
                        </form>
                    }
                    else
                    {
                        <span style="color: red;">Usuario Bloqueado</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
